SERVER_PORT=8082
DB_URL=jdbc:postgresql://localhost:5434/spendwise_transaction
DB_USER=spendwise
DB_PASSWORD=spendwise
AUTH_SERVICE_JWK_URI=http://localhost:8081/api/v1/auth/jwks
KAFKA_BROKERS=localhost:9092