SERVER_PORT=8081
DB_URL=jdbc:postgresql://localhost:5433/spendwise_auth
DB_USER=spendwise
DB_PASSWORD=spendwise
AUTH_SERVICE_JWK_URI=http://localhost:8081/api/v1/auth/jwks
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=c3BlbmR3aXNlU2VjcmV0S2V5VGhhdElzQXRMZWFzdDY0Qnl0ZXNMb25nRm9ySldU
JWT_ACCESS_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000